body {
    font-family: "Gill Sans";
    background-color: #138acf;
    text-align: center;
  }

  a{
    text-decoration: none;
    color: red;
    background-color: blue;
    padding: 30px;
    border-radius: 30px;
    margin: 195px;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }